node_modules/
.env
.DS_Store
dist/
build/
backend/node_modules/
frontend/node_modules/
backend/.env
frontend/.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/uploads/
database/*.sqlite
database/*.db
